# Скомпилированные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Скомпилированные выходные файлы
/bin/
/obj/

# Временные файлы
*.tmp
*.temp
*.log

# Файлы конфигурации
.env
*.env

# Папки с зависимостями
vendor/

# Результаты тестирования
*.test

# IDE и редакторы
.idea/
.vscode/
*.swp
*~

# Системные файлы (например, macOS)
.DS_Store
Thumbs.db

# Игнорирование файлов, созданных инструментами сборки и CI/CD
/build/
/dist/